body { background-image: url("../images/footer_lodyas.png"); }

span { display: inline-block; }

#secret-word 
{ 
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 5px;
    margin: 30px 0px;
}

#player { margin-top: 30px; }

.alert 
{
    padding: .25rem .75rem;
    margin-bottom: .50rem;
}